.profile-picture-container {
  display: flex;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.sylvia-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sylvia-logo-about {
  height: auto;
  width: 30%;
  margin-top: 3%;
  margin-bottom: 15%;
  z-index: 1; 
}

.about-text-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.about-text-top{
  justify-items: center;
  font-size: 160%;
}

.about-text-bottom {
  margin-top: 10%;
  margin-bottom: 20%;  
  font-size: 130%;
}