.admin-login-form-container {
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;     
  padding: 220px;           
}

.admin-login-form {
  width: 100%;             
  margin-bottom: 20px; 
  max-width: 500px;
}  

@media (max-width: 430px) {
  .admin-login-form-container {
    
    padding: 80px; 
  }

  .admin-login-form {
    flex-direction: column;
    width: 100%; 
  }

  .admin-login-form .admin-form-item {
    width: 100%; 
  }

  .admin-login-form .admin-form-item Input,
  .admin-login-form .admin-form-item .ant-input-affix-wrapper {
    width: 100%; 
  }

  .admin-login-form-button {
    width: 100%; 
    margin-top: 10px; 
  }
}

.admin-form-item {
  margin-bottom: 20px; 
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25); 
}