.thumbnail-container {
  background-size: cover;
  background-position: center;
}

.sylvia-logo {
  background-size: cover;
  background-position: center;
  max-width: 60%;
  height: auto;
}

.post-content {
  display: none;
  width: 100%;
  padding: 2% !important;
}

.post-content.show {
  display: block;
  padding: 2% !important;
  margin-right: 2% !important;
}

.a.stretched-link .post-image {
  max-width: 100% !important;
  max-height: 5% !important;
  width: auto !important;
  height: auto !important;
  padding: 2% !important;
}

.a.stretched-link.post-image::after {
  padding: 2% !important;
}

.post-row {
  width: 110%;
}

.expanded {
  /* flex: 1 0 100%; */
  margin-right: -10% !important;
  width: 100%;
}

.p-2 {
  background-color: rgb(12, 12, 12);
  width: 110%;
  margin-top: 5%;
}
.p-4 {
  background-color: rgb(200, 200, 200);
}
.display-2 {
  color: aliceblue;
}

