/* .sylvia-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sylvia-logo-login {
  position: center;
  height: auto;
  width: 30%;
  margin-top: 8%;
  margin-bottom: 15%;
  z-index: 1;
}

@media (min-width: 768px) {
  .sylvia-logo-login {
    width: 20%;
    margin-top: 5%;
    height: auto;
  }
}

@media (min-width: 1750px) {
  .sylvia-logo-login {
    width: 25%;
    margin-top: 5%;
    height: auto;
  }
}

.delete-form {
  display: flex;
  align-items: center;
  align-content: center;
} */