.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}


.ant-btn-primary {
  background-color: #245953;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.ant-btn-primary:hover {
  background-color: #408e91 !important;
}

.btn-primary {
  color: #fff;
  background-color: #245953 !important;
  border-color: #245953 !important;
}
.btn-primary:hover {
  background-color: #d8d8d8 !important;
}



/* Logo */

.navbar {
  background-image: url("../images/Flow_backgroung.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  flex-wrap: wrap; 
}

/* .navbar a.navbar-brand {
  display: flex;
  align-items: center; 
  text-decoration: none; 
} */

.header-content {
  display: flex;
  align-items: center; 
}


.profile-image {
  border-radius: 50%; 
  width: 180px; 
  height: 180px; 
  margin-right: 20px; 
  margin-left: 20px;
  border: 3px solid #043260;
}

.sylvia-logo-main {
  width: 380px; 
  height: auto; 
}

@media (max-width: 430px) {
  .profile-image {
    width: 120px; 
    height: 120px;
    margin-left: -5px;
  }

  .sylvia-logo-main {
    width: 200px ;   
  }
}

.navbar-menu {
  display: flex;
  padding-left:20px ;
  padding-top: 50px;
  gap: 20px; 
  justify-content: flex-end;
  flex-grow: 1;
}

@media (max-width: 415px) {
  .navbar {
    flex-direction: column; 
    align-items: flex-start;
    width:max-content;
    
  }

  .navbar-menu {
    order: 2;
    width: 100%;
    justify-content: flex-end;
    padding-top: 5x;
    padding-right: 0px;
  }

  .navbar-link {
    font-size: small !important;
  }

}

.navbar-link {
  text-decoration: none;
  color: #000; 
  font-size: large;
}


.navbar-link:hover {
  color: #555; 
}





.page-container {
  display: flex;
  /* justify-content: space-between;  */
  align-items: flex-start; 
}

.text-bg-secondary {
  color: #0a0a0a!important;
  background-color: #afdbd1 !important;
  
}

/* buttons links */

.badge-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;  
}

.badge {
  width: 350px !important;
  --bs-badge-padding-x: 3.95em;
  --bs-badge-padding-y: 0.65em;
  --bs-badge-font-size: 0.75em;
  --bs-badge-font-weight: 500;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;  
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
    
}

@media (max-width: 431px) {
  .badge {
    display: none;
  }
}

.text-container {
  flex: 1; 
  text-align: left;
  margin-left: 7%;  
  font-size: 25px;
  font-weight: 200;
  word-spacing: 2px;
}

@media (max-width: 431px) {
  .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5f5a5a;
  padding: 20px;
}

.gallery-image {
  width: 100px;
  height: auto;
  margin-left: 80px;
  margin-right: 80px;
}

/* Media query for smaller screens */
@media (max-width: 431px) {
  .image-gallery {    
    flex-direction: row; 
    padding: 2px;  
    justify-content: center;
  }

  .gallery-image img {
    width: 10px;  
    margin-left: 1px;  
    margin-right: 1px;
  }
}


.link-items {
  color: rgb(13, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  gap: 10px;
  margin-bottom: 180px;
  margin-top: 180px;
  margin-left: 150px;
  font-size: 35px;
}
@media (max-width: 430px) {
  .link-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80% !important;
    height: 320px;
    margin-left: 0 !important;
    margin-right: 8px;
    font-size: 130% !important;
  }
  .link-items a {
    flex-basis: 100%;
    margin-bottom: 80px;
    margin-top: 80px;
  }
}
@media (max-width: 897px) {
  .link-items {
    width: 80% !important;
    height: 200px;
    margin-left: 0 !important;
    margin-right: 8px;
    font-size: 130% !important;
  }
}
@media (max-width: 1980px) {
  .link-items {
    height: 120px;
    margin-top: 220px;
    margin-right: 90px;
  }
  
}

/* Long text centered */

.long-text {
  text-align: left;
  margin-left: 7%;
  font-size: 25px;
  font-weight: 200;
  word-spacing: 2px;  
}

.long-text:last-child {
  margin-bottom: 10% !important; 
}

@media (max-width: 430px) {
  .long-text {
    font-size: 80% !important;    
    width: 100% !important;
    word-spacing: 5px;
    margin-bottom: 0px !important;
  }
}
/* @media (max-width: 897px) {
  .long-text {
    font-weight: 200 !important;
    width: 110% !important;
    height: 190px;
    margin-bottom: 30px !important;
  }
}
@media (max-width: 1980px) {
  .long-text {
    font-size: 18px !important;    
    height: 125px;
    margin-bottom: -130px !important;
    margin-top: 70px;
    
    
  }
} */ */
/* @media (max-width: 1980px) {
  .long-text {
    font-size: 18px !important;
    font-weight: 300;
    width: 90%;
    height: 145px;
    margin-bottom: -70px !important;    
    padding-top: 12%;
    
  }
} */

.text-title {
  display: flex;
  margin-top: 100%;
}

/* Adjust companies logos */

/* .image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5f5a5a;
  padding: 20px;
}

.image-gallery img {
  width: 100px !important;
  height: auto !important;
  margin: 0 10px !important;
} */

/* Grey box */

/* .box-right {
  width: 100%;  
  z-index: 1;
  display: flex;
 
}
@media (max-width: 768px) {
  .box-right {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 430px) {
  .box-right {
    width: 80% !important;
    height: 320px;
    margin-left: 10px !important;
    
  }
}
@media (max-width: 897px) {
  .box-right {
    width: 60% !important;
    height: 300px;
    margin-left: 10px !important;
    margin-top: 1px !important;
  }
}
@media (max-width: 1980px) {
  .box-right {   
  padding-right: 0px;
  margin-bottom: 0px;
  }
} */




/* Control all the icons inside the footer */

.list-unstyled {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 430px) {
  .list-unstyled {
    margin-bottom: 10% !important;
    margin-top: 10% !important;
    display: flex !important;
    justify-content: center !important;
  }
}

@media (max-width: 897px) {
  .list-unstyled {
    margin-bottom: 2% !important;
    margin-top: 10% !important;
    display: flex !important;
    justify-content: center !important;
  }
}


/* Control the icon inside the footer */

@media (max-width: 430px) {
  .mx-3 {
    display: flex;
    justify-content: center;
  }
}


