
.custom-bg-color {
  background-color: rgb(200, 200, 200) !important;
}


.col-md-6 {
  margin-top: 100px ;
  margin-bottom: 30px;
}
@media (max-width: 430px) {
  .col-md-6 {
    width: 100%;
    margin-top: 20px ;
   margin-bottom: 20px;
  }
}
@media (max-width: 897px) {
  .col-md-6 {
    width: 100%;
    margin-top: 20px ;
  }
}


.container-portfolio {
  margin-top: 30%;
  align-content: flex-end;
  padding: 10px;
}
@media (max-width: 430px) {
  .container-portfolio {
    width: 100%;
    margin-top: 1200px !important;
    margin-right: 0px !important;
    padding: 10px;
  }
}
@media (max-width: 897px) {
  .container-portfolio {
    width: 100%;
    margin-top: 1300px ;
    padding: 10px;
  }
}

.head-item-portfolio {
margin-right: 30px;
}