.head-items {
  color: rgb(255, 253, 253);
  display: flex;
  justify-content: "center";
} 

@media (max-width: 418px) {
  .head-items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .head-items a {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}

.profile-picture-container {
  display: flex;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.about-text-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.about-text{
  justify-items: center;
  font-size: 160%;
}