/* .carousel-indicators button {
  background-color: #333;
  border-color: #333;
}
.carousel-indicators button.active {
  background-color: gray;
  border-color: gray;
} */



/* .carousel-control-prev,
.carousel-control-next {
  background-color: #343a40;
  border-color: #343a40;
}

.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  background-color: #1d2124;
  border-color: #1d2124;
} */