# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# terraform (need to get fixed on how to push it to github)
# sylvia_portfolio/src/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.9.0/windows_amd64/terraform-provider-aws_v4.9.0_x5.exe
#.terraform